.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.no-bullet {
  list-style-type: none;
  padding: 25px;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}